* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}


h1 {
  margin: 17px 0px;
  font-size: 2em;
}


span {
  font-weight: bold;
}

p {
  margin: 33px;
}

th {
  padding-bottom: 5px;
}


td {
    padding: 0 5px 7px;
}


.form_with {
  margin: 17px 0;
}

.form_with > h2 {
  margin-bottom: 17px;
}

.box {
  margin-bottom: 10px;
}

.if_message {
  color: green;
}

.block {
  margin-bottom: 10px;
}

.red-border {
  width: 450px;
  border: 2px solid red;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}


ul {
  margin: 33px;
  padding-left: 40px;
}

.red_message {
  margin: 0;
  padding: 5px 5px 5px 15px;
  color: white;
  background-color: #c00;
  font-weight: bold;
}

.flash {
  color: green;
}